<div class="border border-dark">
  <div class="border-bottom border-dark text-center font-weight-bold">
    ジャンル検索
  </div>
  <% genres.each do |genre| %>
    <div class="my-2 ml-3"><%= genre.name%></div>
  <% end %>
</div>