<div class="container">
  <div class="row mb-3">
    <h1 class="display-4 mx-auto">About</h1>
  </div>
  <div class="row">
    <div class="mx-auto">
      <h5 class="text-center">
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ配送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。<br>
      </h5>
      <div class="text-center mt-4">
        <%= image_tag 'powder.jpg', size: "500x250" %>
      </div>
    </div>
  </div>
</div>