<div class="container">
  <div class="row">
    <h1>About</h1>
  </div>
  <div class="row">
    <p>
      ながのCAKEは全国配送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国へ配送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。<br>
    </p>
  </div>
  <div class="row">
    －－－－－－－－－－－－－－－<br>
    ！！画像を表示させる！！<br>
    －－－－－－－－－－－－－－－
  </div>
</div>